.mr8 {
  margin-right: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
